@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Medium.ttf") format("ttf"),
       url("./fonts//Gilroy-Semibold.ttf") format("ttf");
}



body{
  display: grid;
  align-items: center;
  justify-items: center;
  font-family: "Gilroy";
  color: #FFFFFF;
  font-size: 18px;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100vh;
}

.Main{
  display: grid;
  grid-template-rows: auto 37px auto;
  background-color: #0E0E0E;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100vh;
}

.Search {
  background: #141414;
  border-radius: 8px; 
  border: 1px solid #1D1D1D;
  margin:0 14px 0 14px;
  transform: perspective(37px) scaleZ(1) rotateX(2deg);
}


.containerInput {
  align-items: center;
  width: 100%;
  margin: 0%;
  transform: perspective(37px) scaleZ(1) rotateX(-2deg);
}
.inputStyle{
  background-color: transparent;
  font-family: "Gilroy";
  font-weight: Medium;
  color: #FFFFFF;
  border: transparent;
  position:absolute;
  top:0px;
  height: 37px;;
  width: 85%;
  margin-left: 18px;
}

.inputStyle::placeholder {
  font-family: "Gilroy";
  font-weight: Medium;
  opacity: 0.5;
  color: #585858;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    background-color: transparent;
    outline: none;
}



.dedpay{
  background-image: url("./svg/dedpay.svg");
  height: 25px;
  width: 126px;
  background-size: contain;
}

.textSpan{
  color: #A9A9A9;
  font-size: 14px;
}

.text {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #565656;
  margin-right: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

  .container {
    display: flex;
    align-items: top;
    height: 236px;
    background-color: #333333;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    margin: 0%;
  }

  .btnCenter{
    display: block;
    border-radius: 20px;
    height: 86px;
    width: 292px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .btn{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 200px;
  }
  .styleBtn{
    background-color: #333333;
    border-radius: 20px;
    height: 67px;
  }